.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-image: url("../../background1.jpg");
  background-position: center;
  justify-content: center;
  background-size: cover;
}
.title {
  font-size: 4vh;
  padding: 10px;
  /* text-align: center; */
}

.subtitle {
  font-size: 3vh;
  padding-top: 1vh;
}

.intro-text {
  width: 100%;
  text-align: center;
}

.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.ladingbutton {
  width: 150px;
  height: 80px;
  font-size: 20px;
  /* display: flex; */
  /* justify-content: space-between; */
  /* font-size: 4vh; */
}

@media only screen and (min-width: 1200px) {
  .buttonContainer {
    padding: 0 200px;
  }
  .title {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 768px) {
  .ladingbutton {
    width: 150px;
    height: 50px;
    font-size: 2vh;
  }
  /* .title {
    font-size: 60px;
  } */
}
